@inject ICarService CarService

<!--==================== ABOUT ====================-->
<section class="about section" id="about">
    <div class="about__container container grid">
        <div class="about__group">
            <img src="./img/about.png" alt="" class="about__img">

            <div class="about__card">
                <h3 class="about__card-title">@carsCount</h3>
                <p class="about__card-description">Регистрирани коли в сайта</p>
            </div>
        </div>

        <div class="about__data">
            <h2 class="section__title about__title">MyCarInfo <br> Application</h2>
            <p class="about__description">
                <b>MyCarInfo</b> е уеб приложение, създадено да улесни собствениците на автомобили, като ги известява по Viber за предстоящи изтичания на важни документи. Системата автоматично следи сроковете и изпраща навременни напомняния, за да избегнете глоби, пропуснати плащания или невалидни документи.
            </p>
            <p class="about__description">
                Потребителите могат лесно да създадат свой профил чрез интуитивна форма за регистрация. След вписване те получават достъп до личен панел за управление на автомобилите си и настройките за нотификации.
            </p>
            <p class="about__description">
                Всеки потребител може да добавя един или няколко автомобила, като въведе необходимата информация:
                Марка,
                Модел,
                Регистрационен номер,
                Гражданска отговорност,
                Годишен технически преглед,
                Винетка – валидност от / до.
            </p>

            <a href="#" class="button">Регистрирай твоята кола</a>
        </div>

    </div>

</section>

@code {
    private int carsCount;

    protected override async Task OnInitializedAsync()
    {
        carsCount = await CarService.GetCarsCountAsync();
    }
}
