<!--==================== FEATURED ====================-->
<section class="featured section" id="featured">
    <h2 class="section__title">Featured Cars</h2>
    <div class="featured__container container">
        <ul class="featured__filters">
            <li>
                <button class="featured__item active-featured" data-filter="all">
                    <span>All</span>
                </button>
            </li>
            <li>
                <button class="featured__item" data-filter=".tesla">
                    <img src="./img/logo3.png" alt="">

                </button>
            </li>
            <li>
                <button class="featured__item" data-filter=".audi">
                    <img src="./img/logo2.png" alt="">
                </button>
            </li>
            <li>
                <button class="featured__item" data-filter=".porsche">
                    <img src="./img/logo1.png" alt="">
                </button>
            </li>
        </ul>

        <div class="featured__content grid">

            <article class="featured__card mix tesla">
                <div class="shape shape__smaller"></div>

                <h1 class="featured__title">Tesla</h1>
                <h3 class="featured__subtitle">Model X</h3>
                <img src="./img/featured1.png" alt="" class="featured__img">
                <h3 class="featured__price">$98,900</h3>
                <button class="button featured__button">
                    <i class="ri-shopping-bag-2-line"></i>
                </button>

            </article>
            <article class="featured__card mix tesla">
                <div class="shape shape__smaller"></div>

                <h1 class="featured__title">Tesla</h1>
                <h3 class="featured__subtitle">Model 3</h3>
                <img src="./img/featured2.png" alt="" class="featured__img">
                <h3 class="featured__price">$45,900</h3>
                <button class="button featured__button">
                    <i class="ri-shopping-bag-2-line"></i>
                </button>

            </article>
            <article class="featured__card mix audi">
                <div class="shape shape__smaller"></div>

                <h1 class="featured__title">Audi</h1>
                <h3 class="featured__subtitle">E-tron</h3>
                <img src="./img/featured3.png" alt="" class="featured__img">
                <h3 class="featured__price">$175,900</h3>
                <button class="button featured__button">
                    <i class="ri-shopping-bag-2-line"></i>
                </button>

            </article>
            <article class="featured__card mix porsche">
                <div class="shape shape__smaller"></div>

                <h1 class="featured__title">Porsche</h1>
                <h3 class="featured__subtitle">Boxster 987</h3>
                <img src="./img/featured4.png" alt="" class="featured__img">
                <h3 class="featured__price">$126,900</h3>
                <button class="button featured__button">
                    <i class="ri-shopping-bag-2-line"></i>
                </button>

            </article>
            <article class="featured__card mix porsche">
                <div class="shape shape__smaller"></div>

                <h1 class="featured__title">Porsche</h1>
                <h3 class="featured__subtitle">Panamera</h3>
                <img src="./img/featured5.png" alt="" class="featured__img">
                <h3 class="featured__price">$175,900</h3>
                <button class="button featured__button">
                    <i class="ri-shopping-bag-2-line"></i>
                </button>

            </article>

        </div>
    </div>

</section>

@code {

}
