<!--==================== FEATURES ====================-->
<section class="features section">
    <h2 class="section__title">
        More Features
    </h2>

    <div class="features__container container grid">
        <div class="features__group">
            <img src="./img/features.png" alt="" class="features__img">


            <div class="features__card features__card-1">
                <h3 class="features__card-title">800v</h3>
                <p class="features__card-description">Turbo <br> Chargin</p>
            </div>

            <div class="features__card features__card-2">
                <h3 class="features__card-title">350</h3>
                <p class="features__card-description">Km <br> Range</p>
            </div>
            <div class="features__card features__card-3">
                <h3 class="features__card-title">480</h3>
                <p class="features__card-description">Km <br> Travel</p>
            </div>
        </div>
    </div>

    <img src="./img/map.svg" alt="" class="features__map">

</section>

@code {

}
