<!--==================== GALLERY BANNER ====================-->
<section class="gallery section">
    <div class="gallery__container container grid">
        <video class="video__slide active" src="./video/vid_1.mp4" autoplay muted loop></video>
        <video class="video__slide" src="./video/vid_4.mp4" autoplay muted loop></video>
        <video class="video__slide" src="./video/vid_3.mp4" autoplay muted loop></video>
        <video class="video__slide" src="./video/vid_2.mp4" autoplay muted loop></video>
        <video class="video__slide" src="./video/vid_5.mp4" autoplay muted loop></video>

    </div>

</section>

@code {

}
