<!--==================== HOME ====================-->
<section class="home section" id="home">
    <div class="shapeX shape__big"></div>
    <div class="shapeX shape__small"></div>

    <div class="home__container container grid">
        <div class="home__data">
            <h1 class="home__title">
                Pick Your Best Car
            </h1>
            <h2 class="home__subtitle">
                Ferrari 458
            </h2>
            <h3 class="home__elec">
                <i class="ri-flashlight-fill"></i>
                RELENTLESS FORCE
            </h3>
        </div>

        <img src="./img/home5.png" alt="" class="home__img">
        <div class="home__car">
            <div class="home__car-data">
                <div class="home__car-icon">
                    <i class="ri-temp-cold-line"></i>
                </div>
                <h2 class="home__car-number">3.0s</h2>
                <h3 class="home__car-name">0-100 km/h</h3>
            </div>

            <div class="home__car-data">
                <div class="home__car-icon">
                    <i class="ri-dashboard-2-line"></i>
                </div>
                <h2 class="home__car-number">419</h2>
                <h3 class="home__car-name">POWER (KW)</h3>
            </div>

            <div class="home__car-data">
                <div class="home__car-icon">
                    <i class="ri-flashlight-fill"></i>
                </div>
                <h2 class="home__car-number">325 km/h</h2>
                <h3 class="home__car-name">MAX. SPEED</h3>
            </div>
        </div>

        <a href="#" class="home__button">START</a>

        <div class="slider__bg">
            <div class="slider__bg-navBtn active"></div>
            <div class="slider__bg-navBtn"></div>
            <div class="slider__bg-navBtn"></div>
            <div class="slider__bg-navBtn"></div>
            <div class="slider__bg-navBtn"></div>
        </div>
    </div>
    <div class="home__social">
        <a href="#" class="home__social-icon"><i class="ri-facebook-fill"></i></a>
        <a href="#" class="home__social-icon"><i class="ri-instagram-fill"></i></a>
        <a href="#" class="home__social-icon"><i class="ri-twitter-fill"></i></a>
    </div>
</section>


@code {

}
