<!--==================== LOGOS ====================-->
<section class="logos section">
    <div class="logos__container container grid">
        <div class="logos__content">
            <img src="./img/logo1.png" alt="" class="logos__img">
        </div>
        <div class="logos__content">
            <img src="./img/logo6.png" alt="" class="logos__img">
        </div>
        <div class="logos__content">
            <img src="./img/logo5.png" alt="" class="logos__img">
        </div>
        <div class="logos__content">
            <img src="./img/logo4.png" alt="" class="logos__img">
        </div>
        <div class="logos__content">
            <img src="./img/logo3.png" alt="" class="logos__img">
        </div>
        <div class="logos__content">
            <img src="./img/logo2.png" alt="" class="logos__img">
        </div>
    </div>

</section>

@code {

}
