<!--==================== POPULAR ====================-->
<section class="popular section" id="my-cars">
    <h2 class="section__title">
        Отвори детайли <br> за твоята кола
    </h2>
    <div class="popular__container container swiper">
        <div class="swiper-wrapper">
            <article class="popular__card swiper-slide">
                <div class="shapeX shape__smaller"></div>

                <h1 class="popular__title">Porsche</h1>
                <h3 class="popular__subtitle">Turbo S</h3>

                <img src="./img/popular1.png" alt="" class="popular__img">

                <div class="popular__data">
                    <div class="popular__data-group">
                        <i class="ri-dashboard-2-line"></i> 3.7 sec
                    </div>
                    <div class="popular__data-group">
                        <i class="ri-exchange-funds-line"></i> 356 Km/h
                    </div>
                    <div class="popular__data-group">
                        <i class="ri-charging-pile-2-line"></i> Electric
                    </div>
                </div>

                <h3 class="popular__price">$175,900</h3>
                <button class="button popular__button">
                    <i class="ri-shopping-bag-2-line"></i>
                </button>

            </article>

            <article class="popular__card swiper-slide">
                <div class="shapeX shape__smaller"></div>

                <h1 class="popular__title">Porsche</h1>
                <h3 class="popular__subtitle">Taycan</h3>

                <img src="./img/popular2.png" alt="" class="popular__img">

                <div class="popular__data">
                    <div class="popular__data-group">
                        <i class="ri-dashboard-2-line"></i> 3.7 sec
                    </div>
                    <div class="popular__data-group">
                        <i class="ri-exchange-funds-line"></i> 356 Km/h
                    </div>
                    <div class="popular__data-group">
                        <i class="ri-charging-pile-2-line"></i> Electric
                    </div>
                </div>

                <h3 class="popular__price">$114,900</h3>
                <button class="button popular__button">
                    <i class="ri-shopping-bag-2-line"></i>
                </button>

            </article>

            <article class="popular__card swiper-slide">
                <div class="shapeX shape__smaller"></div>

                <h1 class="popular__title">Porsche</h1>
                <h3 class="popular__subtitle">Turbo S Cross</h3>

                <img src="./img/popular3.png" alt="" class="popular__img">

                <div class="popular__data">
                    <div class="popular__data-group">
                        <i class="ri-dashboard-2-line"></i> 3.7 sec
                    </div>
                    <div class="popular__data-group">
                        <i class="ri-exchange-funds-line"></i> 356 Km/h
                    </div>
                    <div class="popular__data-group">
                        <i class="ri-charging-pile-2-line"></i> Electric
                    </div>
                </div>

                <h3 class="popular__price">$150,900</h3>
                <button class="button popular__button">
                    <i class="ri-shopping-bag-2-line"></i>
                </button>

            </article>

            <article class="popular__card swiper-slide">
                <div class="shapeX shape__smaller"></div>

                <h1 class="popular__title">Porsche</h1>
                <h3 class="popular__subtitle">Boxster 718</h3>

                <img src="./img/popular4.png" alt="" class="popular__img">

                <div class="popular__data">
                    <div class="popular__data-group">
                        <i class="ri-dashboard-2-line"></i> 3.7 sec
                    </div>
                    <div class="popular__data-group">
                        <i class="ri-exchange-funds-line"></i> 356 Km/h
                    </div>
                    <div class="popular__data-group">
                        <i class="ri-charging-pile-2-line"></i> Electric
                    </div>
                </div>

                <h3 class="popular__price">$125,900</h3>
                <button class="button popular__button">
                    <i class="ri-shopping-bag-2-line"></i>
                </button>

            </article>

            <article class="popular__card swiper-slide">
                <div class="shapeX shape__smaller"></div>

                <h1 class="popular__title">Porsche</h1>
                <h3 class="popular__subtitle">Cayman</h3>

                <img src="./img/popular5.png" alt="" class="popular__img">

                <div class="popular__data">
                    <div class="popular__data-group">
                        <i class="ri-dashboard-2-line"></i> 3.7 sec
                    </div>
                    <div class="popular__data-group">
                        <i class="ri-exchange-funds-line"></i> 356 Km/h
                    </div>
                    <div class="popular__data-group">
                        <i class="ri-charging-pile-2-line"></i> Electric
                    </div>
                </div>

                <h3 class="popular__price">$128,900</h3>
                <button class="button popular__button">
                    <i class="ri-shopping-bag-2-line"></i>
                </button>

            </article>
        </div>

        <div class="swiper-pagination"></div>
    </div>

</section>

@code {

}
