 <!--==================== FOOTER ====================-->
<footer class="footer section">
    <div class="shapeX shape__big"></div>
    <div class="shapeX shape__small"></div>

    <div class="footer__container container grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">
                <i class="ri-steering-line"></i>
                NextCar
            </a>
            <p class="footer__description">
                We offer the best cars of <br>
                the most recognized brands in <br>
                the world.
            </p>
        </div>


        <div class="footer__content">

            <h3 class="footer__title">Company </h3>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__links">About</a>
                </li>
                <li>
                    <a href="#" class="footer__links">Cars</a>
                </li>
                <li>
                    <a href="#" class="footer__links">History</a>
                </li>
                <li>
                    <a href="#" class="footer__links">Shop</a>
                </li>
                <li>
                    <a href="#" class="footer__links"></a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Information </h3>
            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__links">Request a quote</a>
                </li>
                <li>
                    <a href="#" class="footer__links">Find a dealer</a>
                </li>
                <li>
                    <a href="#" class="footer__links">Contact us</a>
                </li>
                <li>
                    <a href="#" class="footer__links">Services</a>
                </li>

            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title"> Follow us </h3>

            <ul class="footer__social">
                <a href="" target="_blank" class="footer__social-link">
                    <i class="ri-facebook-fill"></i>
                </a>
                <a href="" target="_blank" class="footer__social-link">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="" target="_blank" class="footer__social-link">
                    <i class="ri-twitter-line"></i>
                </a>
            </ul>
        </div>
    </div>
    <span class="footer__copy">
        &#169; <a target="_blank" href="" class="footer__dev-link">.....</a> All rigths
        reserved
        <p id="date"></p>
    </span>
</footer>

@code {

}
